<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>AELMS</b>NETWORK</a>
    </div>
    <!-- /.login-logo -->
    <form method="post">
        <div class="login-box-body">
            <p class="login-box-msg">Sign in</p>
            
                <div class="form-group has-feedback">
                    <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required" placeholder="Username" data-ng-model="loginData.userName" required="">
                    <span class="Iconlogin fa fa-user form-control-feedback fa-lg"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Password" data-ng-model="loginData.password" required="">
                    <span class="Iconlogin fa fa-lock form-control-feedback fa-lg"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox" data-ng-model="loginData.useRefreshTokens">  Remember Me
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button data-ng-click="login()" type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            <div data-ng-hide="message == ' '" class="alert alert-danger">
                {{message}}
            </div>

        </div>
    </form>
        <!-- /.login-box-body -->
</div>
<!-- <link href="/assets/css/site.css" rel="stylesheet" /> -->